
#
# ENVIRONMENT
#
# To persist environment settings copy this file to ENV
#

# Docker command
#TERMINUS_DOCKER=sudo docker

# Container 
#TERMINUS_CONTAINER=terminus-server
#TERMINUS_REPOSITORY=terminusdb/terminus-server
#TERMINUS_TAG=latest

# Container Port to Publish
#TERMINUS_PORT=6363

# Local Directory to Mount inside Container
#TERMINUS_LOCAL=/home/username/localfiles

# Server
#TERMINUS_SCHEME=http
#TERMINUS_SERVER=localhost
#TERMINUS_SERVER_PORT=6363
#TERMINUS_PASS=root
#TERMINUS_CONSOLE=http://localhost/console

# Server Public Url
# TERMINUS_PUBLIC_URL=https://example.com

# Server Workers
#TERMINUS_WORKERS=8

# vim:ft=sh
