# shellcheck shell=sh
# shellcheck disable=SC2034

#
# ENVIRONMENT
#
# To persist environment settings copy this file to ENV
#

# Docker command
#TERMINUSDB_DOCKER=sudo docker

# Container 
#TERMINUSDB_CONTAINER=terminusdb-server
#TERMINUSDB_REPOSITORY=terminusdb/terminusdb-server
#TERMINUSDB_NETWORK=bridge
#TERMINUSDB_LABEL_FILE=labels

# Version
#TERMINUSDB_TAG=dev

# Name of Docker Storage Volume
#TERMINUSDB_STORAGE=terminusdb_storage_local

# Container Port to Publish
#TERMINUSDB_PORT=6363

# Local Directory to Mount inside Container
#TERMINUSDB_LOCAL=/home/username/localfiles

# URL To TermiunusDB Console
#TERMINUSDB_CONSOLE_BASE_URL=//127.0.0.1:3005

# Server
#TERMINUSDB_PASS=root
#TERMINUSDB_SERVER_IP=127.0.0.1
#TERMINUSDB_JWT_ENABLED=true
#TERMINUSDB_JWKS_ENDPOINT=http://example.com/jwks.json
#TERMINUSDB_JWT_AGENT_NAME_PROPERTY=preferred_username
#TERMINUSDB_INSECURE_USER_HEADER=X-Forwarded-User
#TERMINUSDB_INSECURE_USER_HEADER_ENABLED=true


# Dashboard
#TERMINUSDB_DASHBOARD_LOCAL_PATH=/home/user/to/the/index/folder/of/dashboard

# vim:ft=sh
