# shellcheck shell=sh
# shellcheck disable=SC2034

#
# ENVIRONMENT
#
# To persist environment settings copy this file to ENV
#

# Docker command
#TERMINUSDB_DOCKER=sudo docker

# Container 
#TERMINUSDB_CONTAINER=terminusdb-server
#TERMINUSDB_REPOSITORY=terminusdb/terminusdb-server
#TERMINUSDB_NETWORK=bridge
#TERMINUSDB_LABEL_FILE=labels

# Version
#TERMINUSDB_TAG=dev

# Name of Docker Storage Volume
#TERMINUSDB_STORAGE=terminusdb_storage_local

# Container Port to Publish
#TERMINUSDB_PORT=6363

# Local Directory to Mount inside Container
#TERMINUSDB_LOCAL=/home/username/localfiles

# URL To TermiunusDB Console
#TERMINUSDB_CONSOLE_BASE_URL=//127.0.0.1:3005

# Server
#TERMINUSDB_AUTOLOGIN_ENABLED=false
#TERMINUSDB_PASS=root
#TERMINUSDB_SERVER_IP=127.0.0.1
#TERMINUSDB_CONSOLE=http://127.0.0.1/console

# HTTPS
#TERMINUSDB_HTTPS_ENABLED=true
#TERMINUSDB_SSL_CERT=/etc/letsencrypt/live/example.com/fullchain.pem
#TERMINUSDB_SSL_CERT_KEY=/etc/letsencrypt/live/example.com/privkey.pem

# vim:ft=sh
